@import '../../styles/Colors.scss';

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

//NABVAR
.logo-navbar{
    width: 150px;
}

.mr{
    margin-right: 20px;
}

.ml{
    margin-left: 40px;
}

//SLIDERBAR

.slidebar{
    height: 100vh;
    background-color: $color-darkgrey-2;
    margin: 0;
    padding: 0;
}

.slidebar ul{
    padding: 0;
    margin: 0;
}

.sliderbar-item{
    height: 50px;
    border-bottom: 1px solid $color-gray;    
}

.item-text{
    color: white;
    text-decoration: none;
}

.avatar{
    display:block;
    margin:auto;
    margin-bottom: 10px;
}









