@import '../../styles/Colors.scss';

*{
    font-family: 'Quicksand', sans-serif;
}

.preview{
    margin-top: 30px;
}

.poster{
    width:105%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.video{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.review-title{
    margin-top: 30px;

    font-size: 30px;
    font-weight: 500;
}


.items{
    display: inline-flex;
    align-items: center;
}

.title-score{
    font-size: 30px;
    text-align: end;
    padding: 0px;
    margin-left: 10px;
}

.right{
    text-align: right;
}

.pad{
    margin-left: 50px;
}

.subtitles>h2{
    font-size: 20px;
    color: $color-pink ;
}