@import '../../styles/Colors.scss';

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: $color-black;
}

.logo{
    width: 350px; 
    display:block;
    margin:auto;
    margin-top: 60px;
}

.title-login{
    color: $color-white;
}

.title-legend{
    margin-top: 60px;
    color: $color-pink;
}


.text-blue{
    color: $color-blue;
}

.input-login{
    background-color: $color-gray;
    border-color: $color-blue;
    border-width: 3px;
    border-radius: 12px;
}

.input-login::placeholder{
    color: $color-white;
}

.svg{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.login-legend{
    color: white;
    font-size: 25px;
    width: 70%;
    text-align: center;
    margin: auto;
}


.title-login,.title-legend{
    text-align: center;
}
.form-login{
    width: 54%;
    margin: auto;
}

.btn-login,.test{
    width: 300px;
    margin: auto;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 12px;

    
}

.test{
    margin-top: 50px;
    color: white;
    border-color: $color-pink;
    height: 40px;
    text-align: center;
}

.test:hover{
    margin-top: 50px;
    color: white;
    background-color: $color-pink;
    height: 40px;
}
