@import '../../styles/Colors.scss';

*{
    font-family: 'Quicksand', sans-serif;
}

.margin{
    margin-right: 10px;
}

.delete{
    background-color: $color-pink !important;

    &:hover{
        background-color: violet !important;
    }
}