@import '../styles/Colors.scss';


body{
    background-color: $color-black;
}

.logo{
    width: 400px;
   
}

.title{
    color: $color-white;
}


// Form
.text-blue{
    color: $color-blue;
}

.input-login{
    background-color: $color-gray;
    border-color: $color-blue;
    border-width: 3px;
}

.input-login::placeholder{
    color: $color-white;
}


// Login Information

.svg{
    width: 50%;
}

.boton{
    background: red;
}
